version: '3.8'

services:
  backend:
    build: .
    command: sh -c "alembic upgrade head && python -m app.initial_data && uvicorn app.main:app --host 0.0.0.0 --port 8005 --reload"
    volumes:
      - .:/app
      - /app/venv
    ports:
      - "8005:8005"
    environment:
      - POSTGRES_SERVER=db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=Nitrogen@55
      - POSTGRES_DB=ecom_backend
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=Nitrogen@55
      - POSTGRES_DB=ecom_backend
    ports:
      - "5433:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"

  worker:
    build: .
    command: celery -A app.worker.celery_app worker --loglevel=info
    environment:
      - POSTGRES_SERVER=db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=Nitrogen@55
      - POSTGRES_DB=ecom_backend
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:8005

volumes:
  postgres_data:
